# Generate a new Base64 string longer than 32 chars for production use.
NACOS_AUTH_TOKEN=replace-with-base64-secret-longer-than-32-chars
NACOS_AUTH_IDENTITY_KEY=serverIdentity
NACOS_AUTH_IDENTITY_VALUE=replace-with-nacos-identity-value
MODE=standalone
JVM_XMS=512m
JVM_XMX=512m
JVM_XMN=256m
